[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
autoflake = "*"
black = "*"
bump2version = "*"
coverage = "*"
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
sphinx = "*"
vulture = "*"
wheel = "*"
yapf = "*"

[packages]
{{cookiecutter.project_slug}} = {path = ".", editable = true}

[pipenv]
allow_prereleases = true