[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bump2version = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
isort = "*"
yapf = "*"

[packages]
{{cookiecutter.project_slug}} = {path = ".", editable = true}
