[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
autoflake = "*"
black = "*"
bump2version = "*"
cookiecutter = "*"
invocations = "*"
invoke = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
pyyaml = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tox = "*"
vulture = "*"
yapf = "*"

[packages]

[pipenv]
allow_prereleases = true
